<h2>Details: </h2>
<form [formGroup]="formDetails" (ngSubmit)="onFormSubmit()">
  <label>
    Details:
    <textarea type="text" rows="3" cols="30" formControlName="formTextDetails"></textarea>
  </label>
  <br>
  <label>
    Start Date:
    <mat-form-field>
      <input matInput [matDatepicker]="startDate" formControlName="formStartDate" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
      <mat-datepicker #startDate></mat-datepicker>
    </mat-form-field>
  </label>
  <br>
  <label>
    End Date:
    <mat-form-field>
      <input matInput [matDatepicker]="endDate" formControlName="formEndDate" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
      <mat-datepicker #endDate></mat-datepicker>
    </mat-form-field>
  </label>
  <br>
  <!-- <p>
    textDetails: {{textDetails.value}}
    StartDate: {{startDate.value}}
    EndDate: {{endDate.value}}
  </p> -->

  <button type="submit">Save</button>
  <button type="button" (click)="toTodo()">Back</button>

</form>
